* {
  font-family: serif;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #723838;
}

#shopping-list {
  display: block;
  background-color: #234d3b;
  color: #ffffff;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  padding-bottom: 1px;
}

  .top-box {
    padding: 60px 40px 80px 40px;
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    position: relative;
    width: 500px;
    height: 250px;
    overflow: hidden;
    text-align: center;
  }
  
  .top-box:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 0.8;
      background-image: linear-gradient(to bottom, #e66e96, #a32e33);
    }
  

/*styling the icon */
    .icon {
      display: inline-block;
      z-index: 2;

      i.fas {
        font-size: 40px;
        color: #f3f3f3;
      }
    }


    /*styling the heading and paragraph*/
    h1 {
      font-family: 'Roboto';
      text-transform: uppercase;
      font-weight: 500;
      z-index: 2;
      margin: 10px auto 0 auto;
      font-size: 36px;
      letter-spacing: 1px;
    }

    p {
      font-family: 'Roboto';
      letter-spacing: 1px;
      color: #e4e4e4;
      z-index: 2;
      font-size: 14px;
      font-weight: 300;
      margin-top: 10px;
    }
  
  /*content box*/

  .content {
    padding: 20px 30px;
    width: 450px;
    margin: 0 auto 40px auto;
    margin-top: -50px;
    background-color: #8bd892;
    border-radius: 8px;
  }

    #title-area {
      padding: 0;
      border: 0;
      background-color: transparent;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

      .group {
        width: 40%;
      }

      input { /*rem*/
        width: 100%;
        padding: 15px 20px;
        border: 1px solid #f3f3f3;
        border-radius: 3px;

        &:focus {
          outline: none;
          transition: all 0.3s ease-in-out;
          border-color: #8563f3;
        }
      }

      
      /*button */
      .add-btn {
        cursor: pointer;
        width: 49px;
        height: 49px;
        text-align: center;
        border-radius: 3px;
        background-color: #8863ff;
        border: 2px solid #8863ff;
        line-height: 49px;
      }

        .add-btn:hover {
          background-color: #5635c5;
          border: 2px solid #5635c5;
          color: #fff;
        }

          i.fas {
            color: #292341;
            font-size: 20px;
          }
        